@(title: String, categories : Array[Category])(content: Html)(implicit session: Session)

<!DOCTYPE html>

<html ng-app="shop-app">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">
        <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

        <title>@title</title>

        <!-- Bootstrap core CSS -->
        <link href="@routes.Assets.at("/javascripts/bootstrap/dist/css/bootstrap.min.css")" rel="stylesheet">

        <!-- Custom styles for this template -->
        <link href="@routes.Assets.at("/stylesheets/main.css")" rel="stylesheet">

        <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Project name</a>
            </div>
            <div class="collapse navbar-collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="#">Home</a></li>
                <li><a href="#about">About</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>
            </div><!-- /.nav-collapse -->
        </div><!-- /.container -->
        </div><!-- /.navbar -->

        <div class="container">

        <div class="row row-offcanvas row-offcanvas-right">

            <div class="col-xs-12 col-sm-9">
                @content

            </div><!--/span-->

            <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">
            @session.get(Security.username) match {
                case Some(login) => {
                <div>
                    Logged in as <b>@login</b>,
                    <a href="@routes.Application.logout">Logout</a>
                    <br>
                    <br>
                </div>
                }
                case _ => {
                    <div class="side-login-form" ng-controller="LoginCtrl">
                        <form class="form-signin" action="@routes.Application.authenticate" role="form" ng-submit="login($event)">
                            <h2 class="form-signin-heading">Please sign in</h2>
                            <input type="text" class="form-control" placeholder="Email address" ng-model="user.email">
                            <input type="password" class="form-control" placeholder="Password" ng-model="user.password">
                            <p class="error" ng-repeat="e in errors | filter:{property:'password'}:true">{{e.message}}</p>
                            <!--div class="checkbox">
                            < label>
                                <input type="checkbox" value="remember-me"> Remember me
                            </label>
                            </div -->
                            <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                            <p class="error" ng-repeat="e in errors | filter:{property:''}:true">{{e.message}}</p>
                        </form>
                    </div>
                }
            }
            <div class="list-group">
                @for(c <- categories) {
                    <a href="@routes.Site.listProducts(c.id)" title="@c.description" class="list-group-item" style="padding-left: @(c.depth)em">@c.title</a>
                }
            </div>
            </div><!--/span-->
        </div><!--/row-->

        <hr>

        <footer>
            <p>&copy; Company 2014</p>
        </footer>

        </div><!--/.container-->

        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/bootstrap/dist/js/bootstrap.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/lodash/dist/lodash.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular/angular.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular-route/angular-route.js")"></script>
        <script src="@routes.Assets.at("javascripts/angular-resource/angular-resource.js")"></script>
        <script src="@routes.Assets.at("javascripts/ui-bootstrap-custom-0.10.0.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/ui-bootstrap-custom-tpls-0.10.0.min.js")"></script>
        <script src="@routes.Assets.at("javascripts/app.js")"></script>
    </body>
</html>
