@(product : Product, categories : Array[Category])(implicit session: Session)

@main(s"Product ${product.title}", categories) {

    <div class="row">
        <div>@utils.widgets.breadcrumbs(product.category)</div>
        <h2>@product.title</h2>
        @if(product.images.size > 0) {
        <div class="col-md-6">
            <img src="/assets/upload/thumbs/@product.images(0)">
        </div>
        }
        <div class="col-md-6">
            <h4>Описание товара</h4>
            <p>@product.description</p>
            <br>
            <p>
            <h4>Характеристики товара</h4>
            <table class="table table-condensed">
            @for(item <- product.attrs) {
              <tr>
                  <td>@item.name</td>
                  <td><b>@item.value</b></td>
              </tr>
            }
            </table>
            </p>
        </div>
    </div><!--/row-->


}

